@import "/website/style.css";

/* Styling for the webpage top layout */
* {
    box-sizing: border-box;
}

.blog {
    text-align: center;
    background: #fff;
    width: 100%;
    margin-top: 100px;
    color: blue;
    /* border: 1px solid red; */
}

.blog > img {
    width: 100%;
    height: 400px;
}

.blogtitle {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0;
}

.blogquote {
    font-size: 10px;
    color: rgb(170, 20, 20);
    /* border: 1px solid blue; */
}

/* blogmain layout styles */
.blogmain {
    width: 60%;
    margin: auto auto;
    padding: 20px 0px;
}

.blogcontent, .blogcontent2, .blogcontent3 {
    width: 90%;
    margin: auto;
    padding: 5px 10px;
    /* border: 1px solid red; */
}

.blogcontent__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogcontent__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogcontent__author > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.blogcontent__author > div p{
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    opacity: 0.8;
}

.blogcontent__authormedia > a{
    color: blue;
    opacity: 0.8;
}

.blogcontent__image {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.blogcontent__image > img {
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
}

.blogcontent__image > span {
    font-size: 0.7em;
    color: #000;
    opacity: 0.9;
    /* border: 1px solid red; */
}

.authorsm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorsm__twt, .authorsm__fb, .authorsm__ldn {
    flex: 1;
    /* border: 1px solid red; */
    opacity: 0.8;
    box-shadow: 1px 1px 4px;
    text-align: center;
}

.authorsm > div:hover {
    background-color: rgb(226, 72, 103);
    color: blue;
    cursor: pointer;
}

.authorsm a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.authorbio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.authorbio > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.authorbio > p {
    font-size: 0.8rem;
    line-height: 1.2;
    word-spacing: 2px;
}

#hyphen {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Line partition to the next page containing new blog posts */
.linepartition {
    position: relative;
}

.linepartition > hr {
    border: 1px solid #000;
    background: #000;
    height: 1px;
}

.linepartition > img {
    width: 50px;
    height: 40px;;
    position: absolute;
    /* transform: translateX(-50%, 50%); */
    top: -20px;
    left: 50%;
    right: 50%;
}

.nextblogcontent {
    margin: auto 150px;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 40px;
}

.nextblog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 0;
}

.newblog {
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 1px 1px 2px;
}

.newblog > h4 {
    height: 60px;
    margin-bottom: 0;
}

.newblog > img {
    width: 100%;
    height: 120px;
}

.newblog > p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
}

.newblog > button {
    padding: 3px 10px;
    margin-bottom: 10px;
    outline: 0;
}

.newblog a {
    text-decoration: none;
    cursor: pointer;
}

.newsletter {
    text-align: center;
    background-color: #eee;
    box-shadow: 1px 1px 2px;
    border-top: 7px solid #000;
    width: inherit;
    padding: 10px 10px;
    margin-top: 50px;
}

.newsletter__signup {
    width: inherit;
    margin: auto;
}

.newsletter__signup > * {
    width: inherit;
    padding: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px){
   
    .blog > img {
        height: 250px;
        margin: 30px auto 0;
        width: 95%;
    }

    .blogcontent__authormedia > a{
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;

    }

    .blogmain {
        width: 95%;
        margin: auto auto;
        padding: 20px 0px;
    }

    .blogcontent, .blogcontent2, .blogcontent3 {
        margin: auto;
        padding: 5px 10px;
    }

    .nextblogcontent {
        margin: auto;
        width: 95%;
        text-align: center;
        margin-bottom: 40px;
    }

    .newsletter {
        margin: 50px auto 0;
        width: 70%;
        box-sizing: border-box;
    }

    .newsletter__signup > input {
        margin-bottom: 10px;
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {

    .blog > img {
        height: 350px;
    }

    .blogcontent__authormedia > a{
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;

    }

    .blogmain {
        width: 95%;
        margin: auto auto;
        padding: 20px 0px;
    }

    .blogcontent, .blogcontent2, .blogcontent3 {
        margin: auto;
        padding: 5px 10px;
    }

    .nextblogcontent {
        margin: auto;
        width: 95%;
        text-align: center;
        margin-bottom: 40px;
    }

    .newsletter {
        margin: 50px auto 0;
        width: 60%;
        box-sizing: border-box;
    }

    .newsletter__signup > input {
        margin-bottom: 10px;
    }

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 769px) and (max-width: 1024px){
    
    .blogmain {
        width: 95%;
        margin: auto auto;
        padding: 20px 0px;
    }

    .blogcontent, .blogcontent2, .blogcontent3 {
        margin: auto;
        padding: 5px 10px;
    }

    .newsletter {
        margin: 50px auto 0;
        width: 60%;
        box-sizing: border-box;
    }

    .newsletter__signup > input {
        margin-bottom: 10px;
    }
    
}

/* Media Query for Laptops, Desktops and Large screens */
@media (min-width: 1025px){
    
    .newsletter {
        width: 500px;
        margin: 50px auto 0;
    }

    .newsletter__signup {
        /* width: inherit; */
        margin: auto;
    }
    
    .newsletter__signup > * {
        width: 150px;
        padding: 5px;
    }
}



